<div id="album-page">
  <h1>$album.getName()</h1>
  <h2><a href="/artist/$artist.getId()">$artist.getName()</a></h2>
  <h3>$album.getReleaseYear()</h3>
  <h4>$album.getGenre()</h4>

  <div id="album-img">

  </div>

  <div id="album-review">

  </div>
</div>
